body {
  font-family: "Arial", "Helvetica", "sans-serif";
  color: #eeeeee;
  background-color: black;
}

#header h1 {
  margin: 0pt;
}

#body h2 {
  margin: 0pt 0pt 10pt 0pt;
}

#header {
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
  background-color: #142421;
  padding: 0pt;
  width: auto;
}

.container {
  width: 800pt;
  margin: auto;
  background-color: #333333;
  padding: 0pt;
}

.body {
  background-color: #111111;
  width: 100%;
  text-align: left;
  padding: 0pt;
  margin: 0pt;
}

.medium-header {
  background-color: #999999;
  width: 100%;
  text-align: left;
  padding: 0pt;
  margin-right: auto;
}

.content-body {
  background-color: #999999;
  padding: 5pt 0pt;
  width: 100%;
}

#mozilla-project-body {
  text-align: center;
}

.project-body {
  background-color: #999;
  padding: 5pt 0pt;
  width: 100%;
  text-align: -moz-center;
  margin-right: auto;
  margin-left: auto;
}

#projects-grid {
  display: grid;
  -webkit-grid-auto-flow: column;
  grid-auto-flow: column;
  -webkit-grid-template-rows: 100%;
  grid-template-rows: 100%;
}

.project {
  padding: 0pt 0pt 0pt 35pt;
}

.noproject {
  margin: 0pt 0pt 0pt 35pt;
  height: 150pt;
  width: 200pt;
  background-color: #666666;
}

.project img {
  height: 150pt;
  width: 200pt;
}

#bio {
  width: 95%;
  background-color: #444444;
  margin: auto;
  text-align: center;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

#footer {
  width: 100%;
  margin: auto;
  padding-top: 10pt;
  padding-bottom: 10pt;
  color: #6baea1;
  text-align: center;
  font-style: italic;
}

img.centered-picture {
  margin: auto;
}