body {
  font-family: "Arial", "Helvetica", "sans-serif";
  color: #eeeeee;
  background-color: black;
}

a {
  color: #eee;
}

#header h1 {
  margin: 0pt;
}

.medium-header h2 {
  margin: 0pt 0pt 10pt;
}

#header {
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
  background-color: #142421;
  padding: 0pt;
  width: auto;
}

.container {
  width: 800pt;
  margin: auto;
  background-color: #333333;
  padding: 0pt;
}

.body {
  background-color: #111111;
  width: 100%;
  text-align: left;
  padding: 0pt;
  margin: 0pt;
}

.medium-header {
  background-color: #999999;
  width: 100%;
  text-align: left;
  padding: 0pt;
  margin-right: auto;
}

.content-body {
  background-color: #999999;
  padding: 5pt 0pt;
  width: 100%;
}

#mozilla-project-body {
  text-align: center;
}

.project-body {
  background-color: #999999;
  padding: 5pt 0pt;
  width: 100%;
  text-align: -moz-center;
  margin-right: auto;
  margin-left: auto;
}

#projects-grid {
  display: grid;
  -webkit-grid-auto-flow: row;
  grid-auto-flow: row;
  -webkit-grid-template-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
}

.project {
  padding: 0pt;
  text-align: center;
}

.noproject {
  margin: auto;
  height: 150pt;
  width: 200pt;
  background-color: #666666;
}

.project img {
  height: 150pt;
  width: 200pt;
}

#bio {
  width: 95%;
  background-color: #444444;
  margin: auto;
  text-align: center;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.footer {
  width: 100%;
  margin: auto;
  padding-top: 10pt;
  padding-bottom: 10pt;
  color: #6baea1;
  background-color: #111111;
  text-align: center;
  font-style: italic;
}

img.centered-picture {
  margin-right: auto;
  margin-left: auto;
}

#home-button {
  width: 48pt;
  height: 48pt;
  margin-right: 10pt;
  margin-top: 2pt;
}

.project-description-grid {
  display: grid;
  -webkit-grid-auto-flow: row;
  grid-auto-flow: row;
  background-color: #444444;
  -webkit-grid-column-gap: 10%;
  grid-column-gap: 10%;
  -webkit-grid-template-columns: 45% 45%;
  grid-template-columns: 45% 45%;
}

.project-description {
  margin: 10pt;
}

#project-built-with {
  text-align: center;
  background-color: #999999;
  color: #222222;
  margin: auto;
}

#navigation-bar {
  -webkit-grid-template-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  -webkit-grid-auto-flow: row;
  grid-auto-flow: row;
  display: grid;
  text-align: center;
  background-color: #222222;
}

.navigation-link {
  padding: 10pt 0pt;
  font-size: medium;
  border-width: 0pt;
  border-style: solid;
  border-radius: 0px / 0pt;
  text-decoration: underline overline;
}

