.grid-container {
	width: 1080pt;
  	margin: auto;
	padding: 10pt;
	background-color: #CCC;
	display: grid;
	grid-template-columns: 82% 18%;
}

div {
	white-space: pre-line;
}

.message-text {
	font-weight: bold;
	font-size: xx-large;
	font-family: "Lucida Console", "Courier New", monospace;
}

.inventory-text {
	font-size: large;
}

.selected-text {
	font-weight: bold;
}